body {
    background-color: white;
    min-height: 100vh;
}

.section {
    padding: 1rem 1.5rem;
<<<<<<< HEAD
    max-width: 750px;
    margin: auto;
=======
    /*max-width: 750px;*/
    /*margin: auto;*/
>>>>>>> f914cfa5f1d36d86da0fd2aebc091abc1a101143
    align-items: center;
    display: flex;
    flex-grow: 1;
    width: 100%;
<<<<<<< HEAD
=======

>>>>>>> f914cfa5f1d36d86da0fd2aebc091abc1a101143
}

.title {
    font-weight: 800;
    font-size: 5rem;
    font-family: 'Black And White Picture', sans-serif;
}

.subtitle {
    font-size: 2rem;
    font-family: 'Dokdo', cursive;
}

.is-sparta {
    color: coral !important;
}

.button.is-sparta {
    background-color: coral;
    border-color: transparent;
    color: #fff !important;
}

.button.is-sparta.is-outlined {
    background-color: transparent;
    border-color: coral;
    color: coral !important;
}

.help {
    color: gray;
}
.media-content h3{
    text-align: center;
    font-family: 'Gugi', cursive;
    font-weight: bold;
    font-size: 30px;
}

.media-content h3{
    text-align: center;
    font-family: 'Gugi', cursive;
    font-weight: bold;
    font-size: 30px;
}


