<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mypage</title>
    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        .card.mb-3{
            margin-top: 20px;
            box-shadow: rgb(0 0 0 / 23%) 3px 3px 8px 0px ;
            border-radius: 10px;
            background-color: rgba(250, 250, 250);
        }
        .header--text{
            margin-top: 50px;
            margin-bottom: 50px;
        }
    </style>
    <script>
        $.ajax({
            type:'GET',
            data:{},
            dataType: 'json',
            url: 'http://api.kcisa.kr/openapi/service/rest/meta10/get20150045?serviceKey=7f6a0411-9138-47fc-ba75-02957cb4bdd9',
            success: function(res) {
              const items = res.response.body.items.item
                for (let i = 0; i <items.length; i ++) {
                    if(items[i].description === " "){
                        continue
                    }else {
                        console.log(items[i].title)
                    }

                }
            }
          })
    </script>
</head>
<body>
{% extends 'layout.html'%}

{% block content %}
<div class="container">
    <div class="header--text">
        <h4>내가 작성한 리뷰</h4>
    </div>
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="..." class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="..." class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="..." class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>


</div>

{% endblock %}

</body>
</html>