<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mypage</title>
    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/styles/mypage.css">
</head>
<body>
{% extends 'layout.html'%}

{% block content %}
<div class="container">
    <div class="header--text">
        <h4>리뷰</h4>
        <hr />
        <h4>{{user}}</h4>
    </div>

    {% for review in reviews %}
    <div class="card--wrapper">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <a href="/details?id={{review.postId}}">
                        <img src="../static/{{review.postId}}.jpg" class="img-fluid rounded-start" alt="{{review.postId}}">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <table>
                            <tr>
                                <th id="title">
                                    <!--인덱싱-->
                                    {{result[loop.index0]}}
                                </th>
                            </tr>
                            <tr>
                                <td><p class="card-text">{{review.text}}</p></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}


</div>

{% endblock %}

</body>
</html>