/*@font-face {*/
/*    font-family: "SEBANG_Gothic_Bold";*/
/*    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff")*/
/*        format("woff");*/
/*    font-weight: normal;*/
/*    font-style: normal;*/
/*}*/

/*@font-face {*/
/*    font-family: "GmarketSansMedium";*/
/*    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")*/
/*        format("woff");*/
/*    font-weight: normal;*/
/*    font-style: normal;*/
/*}*/

/*!*헤더 로고영역*!*/
/*!*.navbar {*!*/
/*!*    font-family: "SEBANG_Gothic_Bold";*!*/
/*!*    display: flex;*!*/
/*!*    justify-content: space-between;*!*/
/*!*    align-items: flex-start;*!*/
/*!*    padding: 5px;*!*/
/*!*    height: 50px;*!*/
/*!*    text-transform: uppercase;*!*/
/*!*    color: var(--black);*!*/
/*!*    width: 350px;*!*/
/*!*    margin: 0 auto;*!*/
/*!*}*!*/

/*.navbar__logo {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    height: 50px;*/
/*    cursor: pointer;*/
/*}*/

/*.navbar__logo svg {*/
/*    width: 30px;*/
/*    height: 100%;*/
/*    margin-right: 5px;*/
/*}*/

/*.navbar__title {*/
/*    font-weight: 700;*/
/*    font-size: 2rem;*/
/*    letter-spacing: -2px;*/
/*}*/

/*.navbar__title span {*/
/*    color: var(--gray);*/
/*}*/

/*!*헤더 컨트롤영역*!*/
/*.navbar__control {*/
/*    height: 100%;*/
/*    width: 50px;*/
/*}*/

/*.navbar__control .logout {*/
/*    display: flex;*/
/*    align-items: flex-end;*/
/*    height: 100%;*/
/*    border-radius: 10px;*/
/*    font-size: 0.8rem;*/
/*    cursor: pointer;*/
/*}*/

/*.navbar__control .logout:hover {*/
/*    color: var(--gray);*/
/*}*/

/*.detail-container {*/
/*    font-family: "GmarketSansMedium";*/
/*    font-size: 15px;*/
/*    width: 350px;*/
/*    margin: auto;*/
/*    display: block;*/
/*}*/

/*!* 영화이미지 *!*/
/*.detail__left {*/
/*    width: 350px;*/
/*    height: 350px;*/
/*    magin: 0 0 30px 0;*/
/*}*/

/*#movie-trailer {*/
/*    box-sizing: border-box;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*!* 영화제목 *!*/
/*.detail__right .detail__titles {*/
/*    font-family: "SEBANG_Gothic_Bold";*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*}*/

/*.detail__titles {*/
/*    font-weight: bold;*/
/*    color: var(--black);*/
/*}*/

/*.detail__titles .titles__title h3 {*/
/*    font-size: 2rem;*/
/*    margin-bottom: 7px;*/
/*}*/

/*!* 스포일러보기 *!*/
/*.detail__titles .detail__control span {*/
/*    display: block;*/
/*    width: 100%;*/
/*    text-align: center;*/
/*    font-size: 0.5rem;*/
/*}*/

/*.detail__titles .detail__control a {*/
/*    margin-bottom: 5px;*/
/*    padding: 7px;*/
/*    width: 40px;*/
/*    height: 40px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    background-color: var(--green);*/
/*    color: white;*/
/*    border: 2px solid var(--green);*/
/*    border-radius: 50%;*/
/*    transition: all 0.2s ease-in-out;*/
/*}*/

/*.detail__titles a.like {*/
/*    background-color: white;*/
/*    color: var(--green);*/
/*}*/

/*!* 영화 소개 *!*/
/*.detail__contents {*/
/*    display: block;*/
/*    font-weight: bold;*/
/*    color: var(--gray);*/
/*    margin: 50px 0;*/
/*}*/

/*.detail__contents li {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    margin: 7px 0;*/
/*}*/

/*.detail__contents span {*/
/*    color: var(--black);*/
/*}*/

/*.detail__contents svg {*/
/*    color: var(--yellow);*/
/*    height: 13px;*/
/*    transform: translateY(2px);*/
/*}*/

/*!* 리뷰*!*/
/*.detail__review {*/
/*    color: var(--black);*/
/*}*/

/*.detail__review .review__title {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    font-family: "SEBANG_Gothic_Bold";*/
/*    padding-bottom: 10px;*/
/*    margin-bottom: 10px;*/
/*    border-bottom: var(--black) 1px solid;*/
/*}*/

/*.detail__review .review__title h3 {*/
/*    font-size: 1.5rem;*/
/*    font-weight: bold;*/
/*}*/
/*.hide {*/
/*    display: none;*/
/*}*/

/*.show {*/
/*    display: block;*/
/*}*/

/*!*리뷰작성 영역*!*/
/*.write-review{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/
/*.write-review textarea {*/
/*    width: 500px;*/
/*    height: 100px;*/
/*    border: none;*/
/*    font-size: 1rem;*/
/*    resize: none;*/
/*}*/

/*.write-review__control {*/
/*    display: flex;*/
/*}*/

/*.write-review__control .reviewBtn {*/
/*    padding: 0.3em 0.5em;*/
/*    text-align: center;*/
/*    color: var(--green);*/
/*    border: 2px solid var(--green);*/
/*    background: white;*/
/*    font-size: 1rem;*/
/*    font-weight: 700;*/
/*    display: inline-block;*/
/*    border-radius: 0.3em;*/
/*    transition: all 0.2s ease-in-out;*/
/*    margin-left: 10px;*/
/*}*/

/*.write-review__control .reviewBtn:hover {*/
/*    background-color: var(--green);*/
/*    color: #fff;*/
/*}*/

/*.detail__review .reviews .review {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*}*/

/*.detail__review .reviews .review li {*/
/*    margin: 10px 0;*/
/*    width: 90%*/
/*}*/

/*.detail__review .reviews .review li span{*/
/*    word-break: break-all;*/
/*}*/


/*.detail__review .reviews .review button {*/
/*    width: 30px;*/
/*    height: 30px;*/
/*    color: white;*/
/*    border-radius: 50%;*/
/*    line-height: 15px;*/
/*    transition: 0.6s ease;*/
/*}*/

/*.detail__review .reviews .review button:hover {*/
/*    display: block;*/
/*    background-color: var(--green);*/
/*}*/

/*.reviews{*/
/*  margin-bottom:50px;*/
/*}*/

/*.detail__review .reviews .review span {*/
/*    font-weight: normal;*/
/*    color: var(--gray);*/
/*    font-size:.7rem*/
/*}*/

/*.detail__review .reviews .review .review-text{*/
/*        margin-right: 10px;*/
/*    color:var(--black);*/
/*    font-weight: bold;*/
/*    font-size:1rem;*/
/*}*/

/*@media (max-width: 500px) {*/
/*    .detail__left {*/
/*        margin-bottom: 30px;*/
/*    }*/
/*}*/

/*@media (min-width: 501px) {*/
/*    .navbar {*/
/*        width: 500px;*/
/*        margin-bottom: 5px;*/
/*    }*/

/*    .detail-container {*/
/*        width: 500px;*/
/*    }*/

/*    .detail-container .detail__left {*/
/*        width: 500px;*/
/*        margin-bottom: 30px;*/
/*    }*/

/*    .detail__contents {*/
/*        display: flex;*/
/*        justify-content: space-between;*/
/*    }*/

/*    .contents__left,*/
/*    .contents__right {*/
/*        width: 200px;*/
/*    }*/
/*}*/

/*@media (min-width: 1001px) {*/
/*    .navbar {*/
/*        width: 1000px;*/
/*    }*/

/*    .detail-container {*/
/*        width: 1000px;*/
/*        display: flex;*/
/*        justify-content: center;*/
/*        margin-top: 100px;*/
/*    }*/

/*    .detail__left {*/
/*        width: 500px;*/
/*        margin-right: 30px;*/
/*    }*/

/*    .detail__right {*/
/*        width: 500px;*/
/*    }*/
/*}*/
